# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment / secrets
.env
*.key
*.pem

# dbt
target/
dbt_packages/
logs/

# Airflow
airflow/logs/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# Generated project data
data/raw/*.csv
data/processed/*.csv
data/test_data/*.csv
data/incremental/*.csv